---
const links = [
  {
    name: 'Home',
    href: '/',
  },
  {
    name: 'About',
    href: '/#about',
  },
  {
    name: 'Posts',
    href: '/#instagram-posts',
  },
  {
    name: 'Helen AI',
    href: '/helenai',
  },
];
---

<header class=" w-full bg-primary-400/5 top-50 z-50">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="flex h-16 items-center justify-between">
      <!-- Brand logo -->
      <div class="flex-shrink-0">
        <a
          href="/"
          class="focus-visible:outline-primary-950 rounded-md focus-visible:outline focus-visible:outline-2"
        >
          <span class="sr-only">Stone</span>
          <img
            class="h-8 w-auto"
            width="65"
            height="40"
            :src="$store.theme.isDark ? '/assets/logo-inverted.svg' : '/assets/logo.svg'"
            alt="Stone"
          />
        </a>
      </div>

      <!-- Main Navigation -->
      <nav class="hidden md:flex md:space-x-8 flex-1 justify-center">
        {links.map((link) => (
          <a
            href={link.href}
            class="text-primary-800 hover:text-primary-400 inline-flex items-center px-1 py-2 text-sm font-medium transition-colors"
          >
            {link.name}
          </a>
        ))}
      </nav>

      <!-- Mobile menu button -->
      <button
        type="button"
        id="mobile-menu-button"
        class="text-primary-950 hover:bg-primary-500/10 inline-flex items-center justify-center rounded-md p-2 md:hidden"
      >
        <svg
          class="h-6 w-6"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
        </svg>
      </button>
    </div>
  </div>

  <!-- Mobile menu -->
  <div class="md:hidden hidden" id="mobile-menu">
    <div class="space-y-1 px-4 pb-3 pt-2">
      {links.map((link) => (
        <a
          href={link.href}
          class="text-primary-950 hover:bg-primary-500/10 block rounded-md px-3 py-2 text-base font-medium"
        >
          {link.name}
        </a>
      ))}
    </div>
  </div>
</header>

<script>
  document.addEventListener('DOMContentLoaded', () => {
  const navLinks = document.querySelectorAll('a[href^="/#"]');

  navLinks.forEach((link) => {
    link.addEventListener('click', (event) => {
      event.preventDefault();

      const targetId = link.getAttribute('href').split('#')[1];
      const targetElement = document.getElementById(targetId);

      if (targetElement) {
        window.scrollTo({
          top: targetElement.offsetTop - 50, // Adjust 50 for any fixed header offset
          behavior: 'smooth',
        });
      }
    });
  });
});

  document.addEventListener('astro:page-load', () => {
    const mobileMenuButton = document.getElementById('mobile-menu-button');
    const mobileMenu = document.getElementById('mobile-menu');

    if (mobileMenuButton && mobileMenu) {
      mobileMenuButton.addEventListener('click', () => {
        mobileMenu.classList.toggle('hidden');
      });
    }
  });
</script>